HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 모든 테스트 무시
src/test/java/io/ejangs/docsa/domain/**

# 예외: doc 하위만 포함 (doc 및 그 하위 파일들 포함)
!src/test/java/io/ejangs/docsa/domain/doc/
!src/test/java/io/ejangs/docsa/domain/doc/**
