# ------------ APP ------------
SPRING_DATA_MONGODB_URI=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
DDL_AUTO=

# ------------ SESSION/COOKIE ------------
SESSION_COOKIE_NAME=
SESSION_COOKIE_DOMAIN=

# ------------ SWAGGER ------------
SWAGGER_SERVER_URL=

# ------------ SPRING ------------
SPRING_PROFILES_ACTIVE=
SERVER_PORT=

# ------------ DOMAIN ------------
DOMAIN=

# ------------ MYSQL ------------
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# ------------ GRAFANA ------------
GRAFANA_ADMIN=
GRAFANA_PASSWORD=

# ------------ AWS ------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_BUCKET=
AWS_PRESIGNED_EXPIRE_MIN=
AWS_REGION=
CDN_URL=